
body{
    background-color: white;
    display: flex;
    height: 100vh;
    padding: auto;

    

}
.contact_us{
    background-color: white;
    flex-basis: 100%;
    border: 2px solid black;
    padding-left: 200px;
    padding-top: 100px;

}
.circle{
    height: 50px;
    width: 50px;
    border: darkred;
}

.iconnumber{
    display: flex;
    flex-direction: column;

}
.phone{
    display: flex;
    
}
.btn{
    padding-left: 10%;
}
.Ename{
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
}
.contact >head{
    justify-content: center;
}
._form{
    flex-basis: 100%;
    background-color: blue;
    padding-top: 5%;
    padding-right: 2%;
    padding-left: 2%;
    justify-content: space-evenly;
}
#_credential{
    border-radius: 18px
}

.Ename{
    border-radius: 18px;
}
.btn{
    background-color: white;
    justify-content: center;
    padding-left: 5px;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: rgb(112, 109, 109);
    
}
.third{
    color: cyan;
}
     
