.contact_us{
    position: absolute;
    width: 680px;
    height: 690px;
    top: 107px;
    left: 47px;
    
}
.contact> head{
     text-align: center;
     
     

}
.icon{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 230px;

}
.iconnumber{
    display: flex;
}
.phone{
    display: flex;
}
._form{
    
    background: linear-gradient(135deg, #2AFADF 0%, #4C83FF 100%);
    float: right;
    position: relative;
    width: 680px;
    height: 690px;
    top: 107px;
    right: 47px;
    margin-right: 20px;

    
}
.credential{
    top: 107px;
    position: absolute;
    width: 670px;
    left: 723px;
    height: 688px;

}
.btn{
    margin: 20px;
    margin-right: 20px;
}
.button{
    position:absolute;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
    margin-right: 20px;
}
