@font-face {
  font-family: Robotoitalic;
  src: url(fonts/roboto/Roboto-Italic.ttf);
}
@font-face {
  font-family: Robotoregular;
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Robotomedium;
  src: url(fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: Robotobold;
  src: url(fonts/roboto/Roboto-Bold.ttf);
}
@font-face{
  font-family: Robotoblack;
  src: url(fonts/roboto/Roboto-Black.ttf);
}

*{
  box-sizing: border-box;
}
body{
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  font-family: Robotobold;
  letter-spacing: 0.01em;
}
.logogroup{
  margin-right: 2%;
  display: flex;
  align-items: center;
}
.okolea{
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.fam{
  background: linear-gradient(135deg, #2AFADF 0%, #4C83FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar{
  display: flex;
  flex-basis: 55%;
  margin-right: 4%;
  font-size: 28px;
  list-style: none;
  font-weight: 700;
  align-items: center;
  justify-content: space-between;
}
.profile{
  background: none;
  border: none;
}
